.posts {
  width: 80%;
  margin: auto;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.blogTitle {
  font-weight: initial;
  font-style: italic;
  border-bottom: 3px solid rgb(80, 80, 80);
  text-align: center;
  width: 200px;
  margin: 0 auto;
  color: rgb(80, 80, 80);
}
